<!DOCTYPE html>
<html lang="es">
	<head>
		<meta charset="utf-8" />
		
		{% load static %}
		<link rel="stylesheet" href="{% static 'css/styles.css' %}">
		
		<title>Whats_On_Tv_?</title>
		<!--<link rel="stylesheet" href='{{ STATIC_URL }}css/styles.css' type="text/css" /> <!-- stylesheet personal-->
		<!--<script type="text/javascript" src="js/css3-mediaqueries.js"></script> <!-- to call the 'brain' of our project -->
		<style> 
		body
		{
			background-image:url("{% static 'images/cartadeajuste.jpg' %}");
			background-color:#cccccc;
		}
</style>
	</head>
	<script>window["_GOOG_TRANS_EXT_VER"] = "1";</script></head>

<body>


<div id="pagewrap">

	<div id="header">
		<img src="{% static 'images/cartadeajuste.jpg' %}" alt="header" />
	</div>
	<div class="table">
		<div class="content">
			<div class="content_left">
				<div class="icono">
					<img src="{% static 'images/cartadeajuste.jpg' %}" alt="tve_logo" /> 
				</div>
			</div>
			
			<div class="content_right">
				<div class="description">
					{% for row in rows %}
					<li><a id="title" href="/program/{{ row }}/">{{ row.key }}</a></li>
					{% endfor %}
				</div>
			</div>
		</div>
		<div class="content">
			<div class="content_left">
				<div class="icono">
					<img src="{% static 'images/cartadeajuste.jpg' %}" alt="la2_logo" /> 
				</div>
			</div>
			
			<div class="content_right">
				<div class="description">
					<h2>CANAL</h2>
					<p>programa</p>
					<p>programa</p>
				</div>
			</div>
		</div>
		<div class="content">
			<div class="content_left">
				<div class="icono">
					<img src="{% static 'images/cartadeajuste.jpg' %}" alt="antena3_logo" /> 
				</div>
			</div>
			
			<div class="content_right">
				<div class="description">
					<h2>CANAL</h2>
					<p>programa</p>
					<p>programa</p>
				</div>
			</div>
		</div>
		<div class="content">
			<div class="content_left">
				<div class="icono">
					<img src="{% static 'images/cartadeajuste.jpg' %}" alt="Cuatro_logo" /> 
				</div>
			</div>
			
			<div class="content_right">
				<div class="description">
					<h2>CANAL</h2>
					<p>programa</p>
					<p>programa</p>
				</div>
			</div>
		</div>
		<div class="content">
			<div class="content_left">
				<div class="icono">
					<img src="{% static 'images/cartadeajuste.jpg' %}" alt="Telecinco_logo" /> 
				</div>
			</div>
			
			<div class="content_right">
				<div class="description">
					<h2>CANAL</h2>
					<p>programa</p>
					<p>programa</p>
				</div>
			</div>
		</div>
		<div class="content">
			<div class="content_left">
				<div class="icono">
					<img src="{% static 'images/cartadeajuste.jpg' %}" alt="LaSexta_logo" /> 
				</div>
			</div>
			
			<div class="content_right">
				<div class="description">
					<h2>CANAL</h2>
					<p>programa</p>
					<p>programa</p>
				</div>
			</div>
		</div>
	</div>
	
	<div class="footer">
		<div id="footer_left">
			<h4><a href="localhost:8080/TvApp/Client">HOME</a></h4>
		</div>
		<div id="footer_right">
			<h4><a href="myFunction()">ACCOUNT</a></h4>
		</div>
		<button onclick="myFunction()">Try it</button>



</body>
</html>